body {
    background: orange;
}
h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin:20px; 
    font-size: 4.0em;
}    
ul {
    list-style-type: none;
}
h1 {
    text-align: center;
}
h2 {
    text-align: center
}
form {
    text-align: left;
    padding: 10px;
}
img {
    height: 220px;
    width: 220px;
    text-align: center;
}
button {
    padding: 3px;
    margin: 10px;
}
.card {
    font-size: 2.0em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 20px;
    background: rgba(134, 255, 255, 0.466);
    margin: 10px;
}